table.address_list {
  width: 80vw;
  border: 1px solid #ddd;
  margin: 10px auto;
  border-collapse: separate;
  border-spacing: 0;
}

table.address_list th {
  background-color: #fbbc05;
  color: white;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

table.address_list tr td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

table.address_list tr:nth-of-type(even) {
  background-color: #f0ece6;
}
